_ReSharper.albertllonguerasWebsite/
albertllonguerasWebsite/App_Data/
albertllonguerasWebsite/App_Browsers/
Logica/obj/
albertllonguerasWebsite/umbraco_client/
albertllonguerasWebsite/umbraco/
albertllonguerasWebsite/install/
albertllonguerasWebsite/media/
albertllonguerasWebsite/obj/
albertllonguerasWebsite/Properties/AssemblyInfo.cs
